<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="UTF-8" />
    <title>Details</title>
    <link href="~/style.css" rel="stylesheet" />
</head>
<body>
    <h1>Hello Shared View!</h1>
    <a href="/">Back to home</a>
</body>
</html>