@model CityWeather
@{
    string GetCssClass(int temperature)
    {
        return temperature switch
        {
            (< 44) => "blue-back",
            (>= 44) and (< 75) => "green-back",
            (>= 75) => "orange-back"
        };
    }
}
<div class="box w-30 @GetCssClass(Model.Temperature)">
    <div class="flex-borderless">
        <div class="w-50">
            <h2>@Model.Name</h2>
            <h4 class="text-dark-grey">@Model.DateAndTime.ToString("hh:mm tt")</h4>
            <a href="~/weather/@Model.Code" class="margin-top">Details</a>
        </div>
        <div class="w-50 border-left">
            <h1 class="margin-left">
                @Model.Temperature <sup class="text-grey">&#8457</sup>
            </h1>
        </div>
    </div>
</div>