services:
  mongodb-container:
    image: ecommerce-mongodb:latest
    build:
      context: /mongodb
      dockerfile: /Dockerfile
    ports:
      - "27017:27017"
    networks:
    - orders-mongodb-network
  mysql-container:
    image: ecommerce-mysql:latest
    build:
      context: /mysql
      dockerfile: /Dockerfile
    environment:
      - MYSQL_ALLOW_EMPTY_PASSWORD=yes
    ports:
      - "3306:3306"
    networks:
      - products-mysql-network
  postgres-container:
    image: ecommerce-postgres:latest
    build:
      context: /postgres
      dockerfile: /Dockerfile
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=admin
      - POSTGRES_DB=eCommerceUsers
    ports:
      - "5432:5432"
    networks:
      - users-postgres-network

  redis:
    image: redis:latest
    ports:
      - "6379:6379"
    networks:
      - ecommerce-network

  rabbitmq:
    image: rabbitmq:management
    ports:
     - "5672:5672"
     - "15672:15672"
    networks:
     - ecommerce-network

  apigateway:
    image: apigateway:latest
    build:
      context: /eCommerce.OrdersService
      dockerfile: /OrdersService.ApiGateway/Dockerfile
    ports:
     - "4000:8080"
    networks:
     - ecommerce-network
    depends_on:
     - orders-microservice
     - products-microservice
     - users-microservice
  
  users-microservice:
    image: users-microservice:latest
    build: 
      context: /eCommerce.UsersService
      dockerfile: /eCommerce.API/Dockerfile
    environment:
      - ASPNETCORE_HTTP_PORTS=8080
      - ASPNETCORE_ENVIRONMENT=Development
      - POSTGRES_HOST=postgres-container
      - POSTGRES_PORT=5432
      - POSTGRES_DATABASE=eCommerceUsers
      - POSTGRES_USERNAME=postgres 
      - POSTGRES_PASSWORD=admin
      - RABBITMQ_HOST=rabbitmq
      - RABBITMQ_PORT=5672
      - RABBITMQ_USER=guest
      - RABBITMQ_PASS=guest
      - RABBITMQ_PRODUCTS_EXCHANGE=products.exchange
    networks:
      - users-postgres-network
      - ecommerce-network
    depends_on: 
      - postgres-container
  products-microservice:
    image: products-microservice:latest
    build: 
      context: /eCommerce.ProductsService
      dockerfile: /eCommerce.API/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - MYSQL_HOST=mysql-container
      - MYSQL_PORT=3306
      - MYSQL_DATABASE=ecommerceproductsdatabase
      - MYSQL_USERNAME=root
      - RABBITMQ_HOST=rabbitmq
      - RABBITMQ_PORT=5672
      - RABBITMQ_USER=guest
      - RABBITMQ_PASS=guest 
      - RABBITMQ_PRODUCTS_EXCHANGE=products.exchange
      - ASPNETCORE_HTTP_PORTS=8080
    networks:
      - products-mysql-network
      - ecommerce-network
    depends_on: 
      - mysql-container
  orders-microservice:
    image: orders-microservice:latest
    build: 
      context: /eCommerce.OrdersService
      dockerfile: /OrdersService.API/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - MONGODB_HOST=mongodb-container
      - MONGODB_PORT=27017
      - MONGODB_DATABASE=OrdersDatabase
      - UsersMicroservicePort=8080
      - UsersMicroserviceName=apigateway
      - ProductsMicroservicePort=8080
      - ProductsMicroserviceName=apigateway
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - RABBITMQ_HOST=rabbitmq
      - RABBITMQ_PORT=5672
      - RABBITMQ_USER=guest
      - RABBITMQ_PASS=guest
      - RABBITMQ_PRODUCTS_EXCHANGE=products.exchange
      - RABBITMQ_USERS_EXCHANGE=users.exchange
    networks:
      - orders-mongodb-network
      - ecommerce-network
    depends_on: 
      - mongodb-container
      - rabbitmq
      - redis

networks:
  ecommerce-network:
    driver: bridge
  users-postgres-network:
    driver: bridge
  products-mysql-network:
    driver: bridge
  orders-mongodb-network:
    driver: bridge