@model IEnumerable<CityWeather>

<h1>Weather</h1>
<div class="margin-top-200">
    <div class="flex">
        @foreach (CityWeather city in Model)
        {
            @await Component.InvokeAsync("City", new { city = city })
        }
    </div>
</div>
