@using MvcDemo.Models;
@model Customer
 
<h1>@Model.Name</h1>
<ol>
    <li>Person Id: @Model?.Id</li>
    <li>Birth date: @Model?.BirthDate</li>
    <li>Gender: @Model?.Gender</li>
</ol>
<a href="/">Back to home</a>