@using MvcDemo.Models;
@{ // @functions { // converts the functions below to methods of the Views_Home_index class)
    int? GetAge(DateTime? birthDate)
    {
        if (birthDate is null) return null;
        return (int)Math.Floor((DateTime.Now - birthDate).Value.TotalDays / 365);
    }
    void PrintMessage(Customer customer)
    {
        if (customer.BirthDate is null) // customer.BirthDate.HasValue == false
        {
            <span>Hello @customer.Name, how old are you?</span>
        }
        else
        {
            <span>@customer.Name is @GetAge(customer.BirthDate) years old</span>
        }       
    }
}

<h1>Hello, Customers!</h1>
<ol>
    @{
        var customers = ViewBag.customers;
        if (customers != null)
        {
            foreach (var customer in customers)
            {
                <li>@{ PrintMessage(customer); }</li>
            }
        }
    }
</ol>